<?xml version="1.0" encoding="UTF-8"?>
<robot name="robot_arm" xmlns:xacro="http://wwww.ros.org/wiki/xacro">
    <!-- inlcude modular files -->

    <xacro:include filename="$(find robot_arm)/urdf/base.xacro"/>
    <xacro:include filename="$(find robot_arm)/urdf/links_joints.xacro" />
    <xacro:include filename="$(find robot_arm)/urdf/transmission.xacro" />
    <!-- <xacro:include filename="$(find robot_arm)/urdf/gazebo.xacro" /> -->
    <xacro:include filename="$(find robot_arm)/urdf/ign.gazebo.xacro"/>
</robot>