<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <transmission name="trans_joint_1">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="joint_1">
            <hardwareInterface>effort_controllers/JointPositionController</hardwareInterface>
        </joint>
        <actuator name="motor_joint_1">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <transmission name="trans_joint_2">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="joint_2">
            <hardwareInterface>effort_controllers/JointPositionController</hardwareInterface>
        </joint>
        <actuator name="motor_joint_2">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
</robot>